body {

}

#outlet {
  position: absolute;
  top: 120px;
}

#tageo {
  background-color: #444;
  color: gray;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  position: absolute;
  top: 80px;
}

.viewPrograms {
  width: 85%;
  margin-left: 187px;
}

@media screen and (max-width: 900px){
  .viewPrograms {
    margin-left: 95px;
    width: 80%;
  }
}


@media screen and (max-width: 767px ){
  .viewPrograms {
    margin-left: 0px;
    width: 80%;
  }
}
