<!--<h1 mat-dialog-title>{{title}}</h1>
<mat-form-field>
  <input matInput placeholder="Nombre" (keyup)="buscar(txtNombre.value)"
         id="txtNombre" #txtNombre autocomplete="off">
</mat-form-field>

<div mat-dialog-content>
     
  <table mat-table class="table mat-elevation-z8">
    <thead>
      <tr>
        <th style="width: 20%">Codigo</th>
        <th style="width: 70%">Nombre</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let t of tabla">
        <td mat-cell (dblclick)="onDobleClick(t.codigo)"> {{t.codigo}} </td>
        <td mat-cell (dblclick)="onDobleClick(t.codigo)"> {{t.nombre}} </td>
      </tr>
    </tbody>

  </table>


</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="onNoClick()" color="primary" cdkFocusInitial>Cancel</button>
</div>-->
