<div class="container">
  <div class="form-group row col-sm-12">
    <button type="button" class="btn btn-info col-sm-3" (click)="opciones(1)">
      <i class="fa fa-print fa-lg"></i>&nbsp;&nbsp;
      {{option1}}
    </button>
    <button type="button" class="btn btn-success col-sm-3" (click)="opciones(2)">
      <i class="fa fa-pencil-square-o fa-lg"></i>&nbsp;&nbsp;
      {{option2}}
    </button>
    <button type="button" class="btn btn-warning col-sm-3" (click)="opciones(3)">
      <i class="fa fa-ban fa-lg"></i>&nbsp;&nbsp;
      {{option3}}
    </button>
    <button type="button" class="btn btn-danger col-sm-3" (click)="opciones(4)">
      <i class="fa fa-trash fa-lg"></i>&nbsp;&nbsp;
      {{option4}}
    </button>
  </div>
</div>
