@import '../../../../styles.css';

#navigationSS{
    display: flex;
    justify-content: flex-end;
}

button {
  border: 20px;
}

.tableXX{
    overflow-y: auto;
    overflow: auto;
}

tr:hover td {
  background-color: #444;
  color: white; 
  cursor: pointer;
}

td{
  padding:2px;
}

.btn-danger, .btn-info {
  width: 70px;
  height: 30px;
}

.mat-form-field { 
  width: 800px;
}

#btnNew {
  width: 70px;
  height: 70px;
  border: 0px;
  padding: 0px;
}

.btn-group {
  position: relative;
  width: 38%;  
  left: -3%;
  float: right;
}

.btn {
  width: 50%;
  border: 0px;
  padding: 0px;
}
