<div class="formulariosWebs">
  <form class="text-center p-1 mt-4" #forma="ngForm">
    <div class="animated fadeInRight" id="container1">
      <div id="buttonHeadeSecond">
        
        <div id="buscar"><span class="icon-zoom-in"></span>
          <input type="search" aria-label="Search" placeholder="Busqueda" (keyup)="buscarCta(txtNombre.value)" id="txtNombre" #txtNombre autocomplete="off">
          <div (click)="openForm('')" id="anadir">

            <span class="icon-plus-3"></span>Añadir
          </div>
          <!--<mat-form-field>
    <input matInput >
  </mat-form-field>-->
        </div>
      </div>
      <div class="tableXX">
        <table>
          <thead>
            <tr>
              <th style="width: 10%">Código</th>
              <th style="width: 40%">Nombre</th>
              <th style="width: 10%">Código Auxiliar</th>
              <th style="width: 5%"></th>
              <th style="width: 5%"></th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let cta of iplan | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
              <td > {{cta.codigo}} </td>
              <td > {{cta.nombre}} </td>
              <td > {{cta.codigo_Aux}} </td>
              <td >
                <button type="button" class="but1" (click)="openForm(cta.codigo_Aux)">
                  <span class="icon-edit-2"></span>
                </button>
              </td>
              <td>
                <button type="button" class="but2" (click)="deleteCta(cta)">
                  <span class="icon-trash-3"></span>
                </button>
              </td>
            </tr>
          </tbody>

        </table>
      </div>
    </div>
  </form>
</div>
